<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>管理后台</title> 
</head>
<body>

<form action="admin/login">
First name: <input type="text" name="userName"><br>
Password: <input type="password" name="password><br>
<input type="submit" value="提交">
</form>
</body>
</html>
